<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Messaging" type="SevenDigital.Jester.Common.MessagingConfigurationSection, SevenDigital.Jester.Common" />
	</configSections>
	<Messaging>
		<Host name="localhost/jester"/>
	</Messaging>
</configuration>